html {
    height: 100%;
    width: 100%;
}

* {
    border-radius: 5px;
}


/*Grid design and styling procedure*/

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    overflow-y: hidden;
    padding: 0;
    display: grid;
    /* gap: 5px; */
    grid-template-columns: 1fr 2fr 1fr;
    /* represents a fraction of the available space in the grid container */
    grid-template-rows: 1fr 2fr 4fr 1fr;
    grid-template-areas:
        "header header header"
        "services content event"
        "services content message"
        "services content typing";

}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 40% 40% 20%;
    grid-template-areas: "logo title welcome";
    flex-direction: row;
    background-color: lightgoldenrodyellow;
}

#company {
    grid-area: company;
    font-weight: bold;
    font-size: 26px;
    margin-left: 100px
}

#logo {
    grid-area: logo;
    padding-left: 5px;
    padding-top: 5px;
}


.heading {
    grid-row: header;
}

#welcome {
    grid-area: welcome;
    /* overflow: scroll; */
    overflow-x: hidden;
}

#services {
    grid-area: services;
    background-color: lightgoldenrodyellow;
    line-height: 1.5;
    overflow: auto;
    resize: horizontal;
    /* allows one to resize the grid area horizontally */
}

#content {
    grid-area: content;
    background-color: white;
    overflow: auto;

}

/*
styling the katiba separately to display in block*/
.constitution{
    display: block
}
/*
styling the member details derived from database to display in flex(fill the first row then go to the other) */
.members{
    display:flex;
    flex-wrap: wrap;
    height: 100%;
}
/* styling the pic dic to occupy a third of the page
add space to the right and bottom of the pic div 
set the background color to light green*/
.pic{
    height:33.3%;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: lightgreen;
    position: relative;
    animation: vertical_flow 40s linear 2s infinite ;
}
/*style the image to occupy 60%of the div oic*/
.pic>img{
    height:60%;
}
#space{
    margin-left: 4px;
}
/*style the paragraphs to occupy 10% of the div pic*/
.pic>p{
    height: 10%;
}
/*keyframes for the animations*/
@keyframes vertical_flow{
    0%{
        transform: translateY(0%)
    }
    100%{
        transform: translateY(-1650%)
    }
}
#event {
    grid-area: event;
    background-color: lightblue;
    overflow: auto;
    resize: both;
    /* allows one to resize the grid area horizontally and vertically */
    min-width: 220px;
    max-width: 800px;
    min-height: 138px;
    max-height: 280px;
}

#message {
    grid-area: message;
    background-color: lightgoldenrodyellow;

    overflow: auto;
    resize: both;
    /* allows one to resize the grid area horizontally and vertically  */
    min-width: 220px;
    max-width: 800px;
    min-height: 69px;
    max-height: 300px;
    z-index: 1000;
/*    height:100vh;*/
    
}
#typing {
    grid-area: typing;
    min-width: none;
    min-height: 69;
}
#event{
    grid-area: event;
    min-height: 2%;
}
/*
An anchor tag without a href*/
a{
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}

/* 
Convert the cursor to a pointer. */
a:hover {
    cursor: pointer;
}

/*
Ancho tags undrer services shoul be diaplayes in their own lines*/
#services>a{
    display:block;
}

.footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    background-color: lightblue;
    min-height: 80px;
}
#developer {
    grid-row: footer;
    padding-left: 10px;
    padding-bottom: 10px;
}

#signature {
    grid-row: footer;
    float: left;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 50px;
}

#organization {
    grid-row: footer;
    place-self: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

#login {
    text-decoration: none;
    width: 100px;
    height: 30px;
}

/*
Tame select tag's properties */
#selection {
    width: auto;
}


/*
Media query for the phone*/

@media all and (max-width:600px) {
    body {
        height: auto;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: 20% 10% 60% 10%;
        grid-template-areas: "header header""welcome welcome""services services""footer footer";
    }

    .header {
        display: grid;
        grid-area: header;
        grid-template-columns: 30% 70%;
        grid-template-rows: 100%;
        grid-template-areas: "logo rate";
        padding: 5px
    }

    #logo {
        grid-area: logo;
        display: flex;
        flex-direction: column;
    }

    #logo img {
        height: 80%;
        width: 80%;
    }

    #rate {
        margin: 10px 10px 0 0;
        grid-area: rate;
        display: flex;
        flex-direction: row;
        background-color: lightgoldenrodyellow;
    }

    #welcome {
        grid-area: welcome;
        background-color: lightgoldenrodyellow;
    }

    #selection {
        height: fit-content;
        width: fit-content;
    }

    #services {
        grid-area: services;
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .footer {
        grid-area: footer;
        display: flex;
        flex-direction: row;
    }

    #content {
        display: none;
    }

    #message {
        display: none;
        max-height: 150%;
    }


    #event {
        display: none;
    }

    .header #company {
        display: none;
    }
    /*  */
    #developer {
        grid-row: footer;
        padding-left: 10px;
        padding-bottom: 10px;
    }

    #signature {
        font-weight: bold;
        font-size: 16px;
        padding-top: 3px;
        padding-bottom: 5px;
    }

    #company {
        place-self: start;
        font-size: 16px;
        font-weight: bold;
        padding: 5px;
    }

    /*  */
    .img_dev {
        width: 80%;
        max-height: 800%;
        border-radius: 50%;
        margin-left: 0;
        margin-bottom: 0;
        padding: 0;
    }
}


details>details, details>div{
    margin-left: 30px;
}

.content-small{
    grid-row-start: 3;
    grid-row-end: span 3;
    grid-template-rows: 5fr;
    background-color: #FFFAF0;

    height: 40vh;
    overflow: hidden;
    overflow-x: hidden;
    word-wrap: break-word;



}
#message_output{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 10px;
    margin-right: 5px;
    /*background-color: red;*/
    /*background-size: cover;*/

}
p{
    background: mintcream;
    margin-bottom: 0.1%;
    background-size: contain;
}
.txt{
    position: fixed;
    margin-top: 0%;
}

#message_text_area{
    width: 50%;


}


#login-button{
    position: absolute;
    right: 10px;
    top: 10px;
    color:green;
}
#sign_Out_button{
    position:absolute;
    right:10px;
    top:10px;
    color:blue;
}
.left-aligned {
    text-align: left;
}
.date{
    text-align: right;
    background-color: #FFFFFF

        .text{
        background-color: #FFFFFF
    }

}
.photo_photo {
    display: inline-block;
    width: 10%;
    height:10%;
    border-radius: 50%;
}
.username{
    display:inline;
}
.username{
    font-weight: bolder;
    position:sticky;


}
#message_div{
    background-color: white;
    
    
}
.date {
    float: right;
}

